doctype html
html(lang="ja")
	head
		meta(charset="UTF-8")
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Varela+Round")
		link(rel="stylesheet", href="main.css")
		title Cerexe
	body
		#clock
		#img
		script require('./renderer.js')
